
	body{
		margin:7%;
		padding:-15%;
		background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("bg.jpg") no-repeat;
		background-size: 360px 580px;
		
		
	}


	.cha {
		color: black;
		border:1px solid white;
		background-color:white;
		font-size:31px;
		text-align:right;
		font-style:italic;
	

	}
	.dha {
	color: white;

	font-size:31px;
	text-align: right;
	font-style:italic;
	
	}
	.tirer{
		color:black;
	}
	.title1 {
	color: black;
	border:2px solid #487edb;
	border-radius:10px;
	background-color:#487edb;
	font-family:sans-serif;
	font-size:15px;
	text-align:right;
	font-style:monospace;
	
	
	}

	
	.input1{
	border: 0px solid #27a8cc;
	border-radius:3px;
	width:150px;
	text-align:center;
	background-color:white;
	
	
	}
	.input2{
	border-radius:70px;
	width:100px;
	border:2px solid #27a8cc;
	background:#27a8cc;
	
	
	
	}
	.input3{
	border-radius:70px;
	width:100px;
	border:0 solid #27a8cc;

	
	}
	.input1:focus{
	width:165px;
	
	border:5px solid #27a8cc;
	margin:0 15px;
	}
	.input3:focus{
	width:100px;	
	border:5px solid #27a8cc;
	margin:0 15px;
	}
	.input2:focus{
	width:100px;
	border:5px solid #27a8cc;
	margin:0 15px;
	}
	fieldset{
		border:0 solid green;

	}
	.a{
		color:black;
		font-style:italic;
		font-size:10px;
	}
	.a1{
		color:#34abeb;
		font-style:italic;
		font-size:10px;
	}
	label{
	color:black;
	font-size:11.5px;
	border:2px solid #efe8fa;
	border-radius: 50px;
	background-color:#efe8fa;
	text-align:left;
	font-style:lucida;
	font-family:monospace;
	width:10px;
	}
	footer{
		color:gray;
		font-size:9px;
	
	}
	.radio{
		color:red;
	
	}
	.radio1{
		color:#ba9fe3;
		font-style:italic;
	
	}
	img{
		width:60px;
		height:25px;
		margin:0%;
		padding:0%;
		border:1px solid black;
		border-radius:50%;
	}

	h5{
	color:#487edb;
	border:1px solid #487edb;
	border-radius:3px;
	font-family:serif;
	text-align:center;
	width:100px;
	padding:10px;
	margin:8px 98px;
	
	
	}
	.acc{
		font-size:13px;
		color:white;
		font-family:serif;
	}
	.acc1{
		font-size:10px;
		color:#4287f5;
		font-family:serif;
	}